with open('/var/www/demo/.venv/bin/activate_this.py') as file_:
    exec(file_.read(), dict(__file__='/var/www/demo/.venv/bin/activate_this.py'))

import os
os.environ['DATABASE_URL'] = 'mysql://{{ db_user }}:{{ db_pass }}@{{ groups.database[0] }}/{{ db_name }}'

import sys
sys.path.insert(0, '/var/www/demo')

from demo import app as application

